body {
    color: black;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  .universo-title {
    text-align: center; /* Centra el título */
    font-size: 28px;
    margin-bottom: 20px; /* Espacio entre el título y el contenedor */
    padding-top: 10px;
    color: #fff; /* El color del texto será blanco */
font-size: 42px;
text-shadow: 
    0 0 5px #000,   /* Primer nivel de sombra con color negro */
    0 0 10px #000,  /* Segundo nivel de sombra con color negro */
    0 0 15px #000,  /* Tercer nivel de sombra con color negro */
    0 0 20px #000,  /* Cuarto nivel de sombra con color negro */
    0 0 30px #000,  /* Quinto nivel de sombra con color negro */
    0 0 40px #000,  /* Sexto nivel de sombra con color negro */
    0 0 55px #000,  /* Séptimo nivel de sombra con color negro */
    0 0 75px #000;  /* Octavo nivel de sombra con color negro */
}
  
  .universo {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Espaciado entre texto e imagen */
  }
  
  .universo p {
    flex: 1;
  }
  
  .universo img {
    max-width: 200px; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 8px; /* Opcional: bordes redondeados */
  }
  .custom-line {
    border: none; /* Elimina el borde predeterminado */
    height: 2px; /* Grosor de la línea */
    background-color: #2e2e55; /* Color de la línea */
    margin: 20px 0; /* Espaciado arriba y abajo */
  }
  